/* -------------------------------------
 *      Color Palette
 * ------------------------------------- */
@color-white: #fff;
@color-black: #000;
@color-paper-base: rgba(255, 227, 0, 0.2);

/* -------------------------------------
 *      Landing Page
 * ------------------------------------- */

section.header {
	img {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

.landing-masthead-logo {
	min-height: 25rem;
}

.landing-masthead-title {
	vertical-align: middle;
	margin-bottom: 5rem;
}

.centered {
	text-align: center;
}

img.centered {
	display: block;
	margin: 0 auto;
}


/* -------------------------------------
 *        Text editing
 * ------------------------------------- */

.full-height-viewport-important {
	height: 100vh !important;
}

.full-height-important {
	height: 100% !important;
}

.pristine-textarea {
	margin: 0;
	margin-bottom: -7px;
	padding: 2rem 2rem;
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

@angles-per-swipe: 67;
.scale-textarea-bg-color(@idx, @to, @baseColor) when(@idx =< @to){
	&:nth-child(@{idx}) {
		textarea.branch {
			background-color: spin(@baseColor, @idx*@angles-per-swipe);
		}
	}
	.scale-textarea-bg-color(@idx + 1, @to, @baseColor);
}

.branch-container {
	.scale-textarea-bg-color(1, 300, @color-paper-base);
	width: 100%;

	textarea.branch {
		.pristine-textarea;
		white-space: nowrap;
		width: 100%;
		max-width: 100%;
		min-height: 100vh;
		background-color: @color-paper-base;

		color: @color-black;
		font-size: 1.5rem;
		line-height: 1.6;
		@media (min-width: 550px) {
			font-size: 2.0rem;
		}

		display: block;

		&.branch-side {
			float: left;
			width: 15%;
		}

		&.branch-main {
			float: left;
			width: 70%;
		}
	}
}



/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .branch-container
  class
*/
.branch-container.ng-enter, .branch-container.ng-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.branch-container.ng-enter.ng-enter-active,
.branch-container.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .branch-container class
*/
.branch-container.ng-leave {
  -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
  animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}


