/* -------------------------------------
 *      Color Palette
 * ------------------------------------- */
@color-white: #fff;
@color-black: #000;
@color-paper-yellow-base: #ffffda;

/* -------------------------------------
 *      Landing Page
 * ------------------------------------- */

section.header {
	img {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

.landing-masthead-logo {
	min-height: 25rem;
}

.landing-masthead-title {
	vertical-align: middle;
	margin-bottom: 5rem;
}

.centered {
	text-align: center;
}

img.centered {
	display: block;
	margin: 0 auto;
}


/* -------------------------------------
 *        Text editing
 * ------------------------------------- */

html {
	padding: 1vh;
}

.full-height-viewport-important {
	height: 90vh !important;
}

.full-height-important {
	height: 100% !important;
}

.kill-textarea-effects {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.scale-textarea-bg-color(@idx, @to, @baseColor) when(@idx =< @to){
    &:nth-child(@{idx}) {
    	textarea.branch {
        	background-color: darken(@baseColor, @idx*5);
        }
    }
    .scale-textarea-bg-color(@idx + 1, @to, @baseColor);
}

.branch-container {
	.scale-textarea-bg-color(1, 50, @color-paper-yellow-base);
}

textarea.branch {
	.kill-textarea-effects;
	width: 99%;
	max-width: 99%;
	min-height: 99vh;

	color: @color-black;
}

