/* -------------------------------------
 *      Color Palette
 * ------------------------------------- */
@color-white: #fff;
@color-black: #000;
@color-paper-yellow-base: #ffffda;




.full-height-viewport-important {
	height: 99vh !important;
}

.full-height-important {
	height: 100% !important;
}

/* -------------------------------------
 *        Branch text editing
 * ------------------------------------- */

.kill-textarea-effects {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.scale-textarea-bg-color(@idx, @to, @baseColor) when(@idx =< @to){
    &:nth-child(@{idx}) {
    	textarea.branch {
        	background-color: darken(@baseColor, @idx*5);
        }
    }
    .scale-textarea-bg-color(@idx + 1, @to, @baseColor);
}

.branch-container {
	.scale-textarea-bg-color(1, 50, @color-paper-yellow-base);
}

textarea.branch {
	.kill-textarea-effects;
	width: 99%;
	max-width: 99%;
	height: 92vh;

	color: @color-black;
}

